.signup {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: 
    linear-gradient(
      rgba(255,255,255,0.5),
      rgba(255,255,255,0.5)
      ), 
    url("https://i.pinimg.com/originals/70/10/c7/7010c70aaddb7c7d5f2f7b3d83984565.jpg");
  background-size: cover;
}

.signupTitle {
  font-size: 50px;
}

.signupForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.signupForm > label {
  margin: 10px 0;
}

.signupInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.signupBtn {
  margin-top: 20px;
  cursor: pointer;
  background-color: #556B2F;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.signupRegisterBtn {
  margin-top: 20px;
  cursor: pointer;
  background-color: #556B2F;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
}


